<navbar></navbar>
<div class="jumbotron">
    <h1 class="mat-display-3 entity-heading">About me</h1>
    <h1 class="mat-h1">I am currently a student who likes to study and code.</h1>
    <a mat-fab color="primary" href="/about#how-did-i-start">
        <i class="fas fa-arrow-down fa-lg"></i>
    </a>
</div>
<div class="jumbotron" id="how-did-i-start">
    <h1 class="mat-display-3 entity-heading">How did I start?</h1>
    <h2 class="mat-h2">
        I would like to thank my dearest friend <a class="hoverable-link" href="https://github.com/YT-Gameworks" target="_blank">Game Glide</a> who got me into coding things
        and today I have a ton of <a class="hoverable-link" routerLink='/projects'>projects</a>!
    </h2>
</div>
<div class="jumbotron" id="what-do-i-do">
    <h1 class="mat-display-3 entity-heading">What do I work on?</h1>
    <h2 class="mat-h2">
        Currently, whenever I get free time from my school, homework and other activities, I like to work on different porjects that would make the world better.
    </h2>
</div>

<waves></waves>