<div>
    <mat-toolbar color="primary">
      <img src="../../assets/images/Aktindo+Logo.png" alt="Aktindo Logo" height="35px">  
      <span class="navbar-title">Aktindo</span>
      <span class="spacer"></span>
      <a mat-icon-button class="icon home-icon fa-sm" aria-label="Home Icon" routerLink="/" matTooltip="Home">
        <i class="fas fa-home"></i>
      </a>
      <a mat-icon-button class="icon about-icon fa-sm" aria-label="About Icon" routerLink="/about">
        <i class="fas fa-info"></i>
      </a>
      <a mat-icon-button class="icon microscope-icon fa-sm" aria-label="Microsope Icon" routerLink="/projects">
        <i class="fas fa-microscope"></i>
      </a>
      <a mat-icon-button class="icon github-icon fa-sm" aria-label="GitHub Icon" routerLink="/github">
        <i class="fab fa-github"></i>
      </a>
      <a mat-icon-button class="icon discord-icon fa-sm" aria-label="Discord Icon" routerLink="/discord">
        <i class="fab fa-discord"></i>
      </a>
      <span class="div-spacer"></span>
    </mat-toolbar>
</div>
