.jumbotron {
    background: none;
    text-align: center;
    margin-top: 25vh;
    margin-bottom: 150px;
}

.entity-heading {
    margin: 0 0 15px;
}

.project-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .project-section {
        display: inline-block;
    }
}

.project-card {
    margin: 15px;
    background-color: var(--background-secondary);
    color: var(--font);
    box-shadow: none;
}

mat-card-subtitle {
    color: var(--font);
}

.mat-card-avatar img {
    background-size: cover;
    height: 50px;
}

.acronym {
    font-size: 35px;
}