<navbar></navbar>
<div class="jumbotron">
    <h1 class="mat-display-3 entity-heading"><i class="fas fa-rocket"></i> Projects</h1>
    <p class="mat-h2">Here is a list of all my projects with a brief description and usage.</p>
    <p class="mat-h3" *ngIf="docs"><i class="fas fa-book-open"></i> You can view their documentation <a [href]=docs class="hoverable-link">here</a>!</p>
</div>
<div class="project-section" id="project-section">
    <mat-card class="project-card" *ngFor="let project of projects">
        <mat-card-header>
          <div mat-card-avatar class="project-header-image">
              <img *ngIf="project.avatarUrl" [src]="project.avatarUrl" alt="Avatar for {{ project.name }}">
              <span *ngIf="!project.avatarUrl" alt="Avatar for {{ project.name }}" class="acronym">
                  {{ project.emoji }}
              </span>
          </div>
          <mat-card-title>{{project.name}}</mat-card-title>
          <mat-card-subtitle>{{project.type}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{project.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-icon-button [href]="project.githubUrl" target="_blank" class="project-button">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a *ngIf='project.websiteUrl' mat-icon-button [href]="project.websiteUrl" target="_blank" class="project-button">
                <i class="fas fa-external-link-alt fa-2x"></i>
            </a>
        </mat-card-actions>
      </mat-card>
</div>