/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body { 
    margin: 0; 
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    color: var(--font); 
}

h1, h2, h3, h4, h5, h6, mat-card-title, .navbar-title {
    font-family: 'Poppins', sans-serif !important;
}

/* scrollbar */
::-webkit-scrollbar-track
{
    background-color: var(--background-tertiary);
}
::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.72, var(--primary)),
        color-stop(0.86, var(--secondary)));
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

footer p {
    margin: 0 !important;
}

a.hoverable-link {
    color: var(--primary);
    text-decoration: none;
}

a.hoverable-link:hover {
    color: var(--secondary);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}